// @import 'colors';

html {
  font-size: $regular;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Gotham, Roboto, 'Souce Sans Pro', -apple-system, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:      $brand;
  background: $layer2;
  width:      100vw;
  overflow-x: hidden;

  // max-height: 100vh;
  // overflow:   hidden;
}

h1, h2, h3, h4, h5, h6 {
  // text-transform: capitalize;
  margin-bottom: 0;
}

.no-cap {
  text-transform: none;
}

.cap {
  text-transform: capitalize;
}

.content {
  position: relative;
}

main {
  background: $layer2;
}

a {
  text-decoration:  none;
  font-weight:      $bold;
  transition:       $transition;
  color: $brand;
  &:hover {
    transition:       $transition;
    text-decoration:  none;
    color:            $brandLayer;
  }
}

[data-icon] {
  margin-right: 2 * $space;

  &.huge {
    font-size: 48px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-weight: $bold;
}

hr {
  width:      100%; // required to show
  border-top: 1px solid $layer5;
  &.light {
    border-top-color: $brand;
  }

  &.thick {
    border-top-width: 5px;
  }
}

p,
span,
a {
  font-size: $regular;
}

.ps {
  position: relative;
  max-height: 100vh;
}

// General layout setting
.page {
  position: relative;
  max-height: 100vh;

  &.dark {
    background: $layer1;
    main {
      background: $layer2;
    }
  }

  &.light {
    background: $lightAlt;
    main {
      background: $lightBG;
    }
  }
}

// General positioning styles
.vertical {
  display: flex;
  flex-direction: column;

  &.center {
    align-items: center;
  }

  &.middle {
    justify-content: center;
  }
}

.horizontal {
  display: flex;
  flex-direction: row;

  &.desktop-only {
    @include mobile {
      display: flex;
      flex-direction: column
    }
  }

  &.center {
    justify-content: center;
  }

  &.middle {
    align-items: center;
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-fill {
  @extend .full-height, .full-width;
}

.half-width {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.clickable {
  cursor: pointer;
}

.hide-mobile {
  @include mobile {
    display: none;
  }
}

.hide-desktop {
  @include desktop {
    display: none;
  }
}

.brand-btn {
  padding: 2 * $space 4 * $space;
  background:     $brand;
  transition:     $transition;
  border-radius:  $rounded;
  box-shadow:     $shadow;
  color:          $layer1;

  &:hover {
    transition: $transition;
    background: $brandLayer;
    color:      $layer1 !important;
  }
}

// Define positioning with padding
.top-right {
  position: absolute;
  top:      0px;
  right:    0px;
}

.bottom-right {
  position: absolute;
  bottom:   0px;
  right:    0px;
}

.toasted-container {
  max-width: 50vw;
  .toasted {
    padding: 2 * $space;
    background: $brand;
  }

  .full {
    max-width: 90vw;
  }
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  max-height: 5vh;
}

.error {
  color: red;
  font-size: $small;
  font-weight: $bold;
  letter-spacing: 0.1em;
}

.identifier {
  text-transform: uppercase;
  letter-spacing: $space / 2;
  color: $layer5;
  padding-right: 10 * $space;
  font-weight: $bold;
  border-bottom: 5px solid $layer3;
  border-radius: rounded;
}

.brand-hover {
  transition: $transition;
  &:hover {
    transition: $transition;
    color: $brandLayer;
  }
}

.dropdown-menu {
  min-width: 250px;
  z-index: $moveToTop !important;
  div, h6, a {
    z-index: $moveToTop !important;
  }
}

.horizontal-scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  
  &::-webkit-scrollbar {
    display: none; 
  }
}

.table {
  color: $white;
  text-align: center;
  tbody {
    tr {
      transition: $transition;
      &:hover {
        transition: $transition;
        background: $layer2;
        color: $white;
        // font-weight: $bold;
      }
    }
  }

  th {
    border-top: none;
  }
}

.boxed {
  position:       relative;
  background:     $layer5;
  padding:        2 * $space;
  border-radius:  $edges;
  width:          100%;

  &.border {
    background:     none;
    border:         2px solid $layer5;
  }

  &.shadow {
    background:     none;
  box-shadow:       $lightShadow !important;
  }
}

.badge {
  background:     $layer3;
  padding:        $space 2 * $space;
  border-radius:  $rounded;
  font-weight:    $bold;
  margin:         0 2 * $space;

  &.circle { 
    display:          flex;
    align-items:      center;
    justify-content:  center;
    padding:          0;
    border-radius:    $circle;
    width:            20px;
    height:           20px;
  }

  &.brand  { 
    background:    $brandLayer; 
    color:         $layer3;
  }
}


/** Perfect scroll overrides */
.ps--active-x .ps__rail-x { display: none !important } // Hide annoying horizontal scrollbar

$pcts: (5, 10, 15, 20, 50);
@each $pct in $pcts {
  .w-#{$pct} { width: #{$pct}vw; }
  .h-#{$pct} { height: #{$pct}vh }
}

// TODO should not need this
.fix-bounds {
  width: 90vw;
}